# Виртуальное окружение
venv/

# Кэш Python
__pycache__/

# Секреты
.env
gcp-credentials.json 

# База данных и сгенерированные индексы
*.db
*.index
*.json
*.jsonl

temp_indexer_vertex.py

111_summarize_project.py
111_project_summary.txt



# Лог-файлы
*.log

todo

semantic-search-deploy/