# Виртуальное окружение
venv/

# Кэш Python
__pycache__/

# Секреты
.env

# База данных и сгенерированные индексы
*.db
*.index
*.json
*.jsonl

temp_indexer_vertex.py

temp_add_game.py
temp_migrate_add_summary.py
temp_migrate_database.py
temp_read_summary.py



# Лог-файлы
*.log

todo

semantic-search-deploy/